h1 {
  font-family: "Great Vibes", cursive;
  font-size: 90px;
  margin: 50 auto;
}

body {
  background-repeat: no-repeat;
  background-image: url("images/31.jpg");
  background-size: cover;
}
footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 18px;
  padding: 10px 100px;
  margin: 20 auto;
}

@media (max-width: 576px) {
  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    margin: 20 auto;
  }
  img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
  }

  .background-img {
    min-height: 100%;
  }
}
